--- INI
--- ENV
SAMPLE2_FOO_INT=3
SAMPLE2_FOO_STRINGS_0=abc
SAMPLE2_FOO_STRINGS_1=def
SAMPLE2_FOO_STRINGS_2=ghi
SAMPLE2_FOO_DOUBLES_0=3.1415
SAMPLE2_FOO_DOUBLES_1=1.4142
SAMPLE2_FOO_ENABLED_x=false
SAMPLE2_FOO_ENABLED_y=true
SAMPLE2_FOO_BAR=right
SAMPLE2_FOO_VALUE=WIBBLEWIBBLE
SAMPLE2_FOO_FILE=test-golden/sample2-tutorial/0001-example.config
--- CMDLINE
